0	ICON	Icon.ico
1 VERSIONINFO
FILEVERSION		1,0,0,0
PRODUCTVERSION	1,0,0,0
BEGIN
	BLOCK "StringFileInfo"
	BEGIN
		BLOCK "0C0904E4"
		BEGIN
			VALUE "CompanyName", "Kittens"
			VALUE "FileDescription", "Did I mention kittens?"
			VALUE "FileVersion", "1, 0, 0, 0"
			VALUE "InternalName", "kittens"
			VALUE "LegalCopyright", "©2012 Daniel Burke"
			VALUE "ProductName", "Kittens"
			VALUE "ProductVersion", "1, 0, 0, 0"
		END
	END

	BLOCK "VarFileInfo"
	BEGIN
		VALUE "Translation", 0xC09, 1252
	END
END
